* {
    box-sizing: border-box;
}

:root {
    --primary-color-black: #152427;
    --text-color-black-gray: #575d5e;
    --Primary-color-black-green: #143c3c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* ========================================== Common ========================================== */
a {
    text-decoration: none;
}

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.section-heading {
    max-width: 520px;
    color: #152427;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
}

.section-heading::after {
    content: "";
    position: relative;
    margin-left: 16px;
    display: inline-block;
    width: 66px;
    height: 2px;
    top: -6px;
    background: #152427;
}

.section-desc {
    color: #152427;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.63;
}

.section-desc::before {
    content: "";
    position: relative;
    margin-right: 16px;
    display: inline-block;
    width: 25px;
    height: 1px;
    top: -6px;
    background: #152427;
}

/* ========================================== Header ========================================== */
.header {
    margin: 28px 0 88px;
}

.header-top {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 13px;
}

.header-top::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 1140px;
    height: 1px;
    bottom: 0;
    background: linear-gradient(
        90deg,
        #fff 0%,
        #dddcdc 51.09%,
        rgba(212, 212, 212, 0) 99.68%
    );
}

.logo a {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.logo__brand {
    color: #143c3c;
    font-size: 2.4rem;
    font-weight: 500;
}

.navbar {
    margin-right: 88px;
}

.navbar__list {
    display: flex;
    margin-left: 407px;
}

.navbar__link {
    color: var(--text-color-black-gray);

    padding: 8px 19px;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.navbar__link:hover {
    color: var(--primary-color-black);
    font-weight: 600;
}

.btn {
    display: inline-block;
    min-width: 173px;
    height: 57px;
    padding: 13px 35px 16px;
    border: 1.5px solid #143c3c;
    border-radius: 40px;
    color: #fff;
    text-align: center;
    font-family: "Public Sans";
    background: var(--Primary-color-black-green, #143c3c);
}

.btn:hover {
    opacity: 0.9;
}

.header__cta {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.navbar__item-active {
    position: relative;
}

.navbar__item-active::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 2px;
    bottom: -26px;
    left: 22px;
    background: var(--Primary-color-black-green);
}
/* ========================================== Hero ========================================== */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
}

.hero__content {
    width: 448px;
    margin-right: 76px;
}

.hero__content-heading {
    color: var(--primary-color-black);

    width: 368px;
    font-family: "Public Sans";
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2;
}

.hero__content-desc {
    color: var(--text-color-black-gray);

    width: 341px;
    margin-top: 20px;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.hero__action {
    display: flex;
    align-items: center;
    margin-top: 42px;
}

.hero__cta {
    margin-right: 36px;
    color: #fff;
    text-align: center;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.hero__watch {
    display: flex;
    align-items: center;
}

.hero__watch-play {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -22px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #83a17d;
}

.hero__watch-text {
    margin-left: 15px;
    color: #152427;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.hero__media {
    width: 646px;
    margin-right: 25px;
    /* height: 543px; */
}

.hero__media-item {
    display: flex;
    gap: 20px;
}

.hero__media-img {
    width: 202px;
    height: 466px;
    object-fit: cover;
    border-radius: 110px;
}

.hero__media-link {
    transition: 0.25s;
}

.hero__media-link:hover {
    transform: translateY(77px);
}

.flowers__top,
.flowers__bottom {
    position: relative;
}

.flowers__top-img {
    display: block;
    position: absolute;
    bottom: 418px;
    left: -221px;
}

.flowers__top-rope {
    display: block;
    position: absolute;
    bottom: 140px;
    left: -175px;
}

.flowers__bottom-img {
    display: block;
    position: absolute;
    bottom: -108px;
    right: -10px;
}

.flowers__bottom-rope {
    display: block;
    position: absolute;
    bottom: -129px;
    right: 36px;
}

/* ========================================== Hero ========================================== */
.brand {
    margin-top: 200px;
}

.brand__item {
    height: 201px;
    padding: 75px 121px 90px;
    border-radius: 100.5px;
    background: #e2eddf;
}

.brand__list {
    display: flex;
    align-items: center;
}

.brand__link-google {
    margin-right: 42px;
    color: #143c3c;
    font-size: 3.1rem;
    font-weight: 500;
}

.brand__link-slack {
    margin-right: 51px;
    display: flex;
    align-items: center;
    color: #143c3c;
    font-size: 3.2rem;
    font-weight: 600;
}

.brand__link-discord {
    margin-right: 64px;
    display: flex;
    align-items: center;
    color: #163c35;
    font-size: 2.6rem;
    font-weight: 400;
}

.brand__link-discord img {
    margin-right: 11px;
}

.brand__link-riotinto {
    margin-right: 63px;
    color: #143c3c;
    font-family: "Sonsie One";
    font-size: 2.3rem;
    font-weight: 400;
}

.brand__link-heroku {
    display: flex;
    align-items: center;
    color: #143c3c;
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: 1.995px;
}

.brand__link-heroku img {
    margin-right: 10px;
}
/* ========================================== Services ========================================== */
.services {
    margin-top: 106px;
}

.services-top {
    margin-top: 12px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.services-cta {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    color: #152427;
    background: #e2eddf;
    transition: 0.25s;
}

.services-cta:last-child {
    rotate: 180deg;
    margin-left: 17px;
}

.services-cta:hover {
    color: #fff;
    background: #143c3c;
}

.services__media {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    margin-top: 76px;
}

.services__item-img {
    width: 370px;
    height: 318px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.services-info__heading {
    margin-top: 24px;
    color: #152427;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.services-info {
    transition: 0.25s;
}

.services-info__desc {
    margin-top: 18px;
    width: 268px;
    color: #7d8188;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71;
}

.services__item {
    transition: 0.25s;
}

.services__item:hover {
    border-radius: 20px;
    background: #fff;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.services__item:hover .services-info {
    padding: 0 0 23px 18px;
}
/* ========================================== About ========================================== */
.about {
    margin-top: 160px;
}

.about-body {
    display: flex;
}

.about__media {
    margin-right: 64px;
    position: relative;
}

.about__images {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 21px;
    width: 591px;
    height: 557px;
}

.about__images-img {
    width: 284px;
    height: 480px;
    object-fit: cover;
    border-radius: 210px;
    transition: 0.25s;
    cursor: pointer;
}

.about__images-title {
    position: relative;
}

.about__images-info {
    position: absolute;
    bottom: -50px;
    right: -65px;
    cursor: pointer;
}

.about__images-img:hover {
    transform: translateY(77px);
}

.about__flowers-bg {
    position: absolute;
    top: -32px;
    left: 46px;
}

.about__flowers-rope {
    position: absolute;
    top: 12px;
    left: 85px;
}

.about__heading,
.about-item__heading {
    margin-top: 20px;
    color: #152427;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
}

.about__desc,
.about-item__desc {
    margin-top: 11px;
    color: #7d8188;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.63; /* 162.5% */
}

.about-info {
    margin-top: 36px;
}

.about-item {
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.about-item::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 485px;
    height: 1px;
    left: 0;
    bottom: 0;
    background: #83a17d;
}

.about-item:last-child {
    margin-top: 38px;
}

.about-item__desc {
    margin-top: 0;
    font-size: 1.4rem;
    width: 364px;
}

.about-item__heading {
    margin-top: 0;
}
/* ========================================== Process ========================================== */
.process {
    margin-top: 115px;
}

.process-heading {
    margin-top: 20px;
}

.process-list {
    margin-top: 85px;
}

.process-item {
    height: 185px;
    padding: 30px;
    display: flex;
    align-items: center;
    position: relative;
    transition: 0.25s;
}

.process-item:hover {
    width: 1140px;
    height: 185px;
    border-radius: 33px;
    background: #e2eddf;
    transform: translateX(10px);
}

.process-item:hover .process-item__heading {
    margin-right: 64px;
}

.process-item:hover .process-item__img {
    display: inline-block;
}

.process-item:hover .process-more__link {
    text-decoration: underline;
}

.process-item:hover .process-item__info {
    display: none;
}

.process-item:hover .process-more__link {
    display: inline-block;
}

.process-item::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 1088px;
    height: 3px;
    bottom: -2px;
    background: linear-gradient(
        180deg,
        #83a17d 4.17%,
        rgba(131, 161, 125, 0) 36.46%
    );
}

.process-item__img {
    display: none;
    position: absolute;
    right: 92px;
    bottom: 0;
    transition: 0.25s;
}

.process-item__info {
    width: 572px;
    margin-left: auto;
    transition: 0.25s;
}

.process-item__heading {
    margin-right: 48px;
    color: #143c3c;
    font-size: 7.2rem;
    font-weight: 600;
    line-height: 0.72;
}

.process-item__title {
    color: #152427;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
    cursor: pointer;
}

.process-more__link {
    position: relative;
    display: none;
    color: #575d5e;
    bottom: -22px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1;
    transition: 0.25s;
}

.process-item__info {
    color: #7d8188;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
    transition: 0.25s;
}
